body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: lightgray;
  padding: 20px;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: lightgray;
